VITE_APP_NAME=Vacuul
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APPID=
VITE_DEBUG_MODE=true
VITE_GOOGLE_MAPS_API_KEY=
VITE_ALGOLIA_SEARCH_API_KEY=
VITE_ALGOLIA_APP_ID=
